body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    margin: 20px;
}

h1,h2 {
    color: #333;
    text-align: center;
}

form {
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

input[type="text"], select {
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 6px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#limpiar-filtros {
  background-color: #fff;
  color: #007BFF;
  border: 1px solid #007BFF;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

#limpiar-filtros:hover {
  background-color: #0056b3;
  color: #fff;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: dodgerblue;
    color: white;
    text-align: center;
}
td.oro {
    background-color: gold;
    color: black;
    font-weight: bold;
}

td.plata {
    background-color: silver;
    color: black;
    font-weight: bold;
}

td.bronce {
    background-color: #cd7f32; /* color bronce */
    color: white;
    font-weight: bold;
}
#sugerencias {
    border: 1px solid #ccc;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    width: 300px;
}

.sugerencias div {
    padding: 8px;
    cursor: pointer;
}

.sugerencias div:hover {
    background-color: #f0f0f0;
}
